<!-- 여기부터 푸터-->
<div class="bg p-5 text-center">
    <div class="bg p-5 text-center" style="display: flex; justify-content: space-around;">
        <div>
            <img src="/images/logo.png" style="max-width: 500px;">
        </div>


        <div>
            <br>
            <h4><strong>stay connect</strong></h4>
            <br>
            <img src="/images/icon3.png">

            <!-- 이용약관 내용 -->
        </div>

        <div>
            <h5><strong>Or Leave a Message Here</strong></h5>
            <br>
            <p> *Full Name</p>
            <hr>
            <p> *Email</p>
            <hr>

            <p> *DM Plz...🙏</p>
            <br>
            <hr>
            <div class="d-flex justify-content-end mt-1">
                <button type="button" class="btn btn-primary" style="width: 30%; height: 5%;">
                    Submit
                </button>
            </div>




        </div>

    </div>
    <h6>(주)대우긴(대표이사:김대욱) | 부산광역시 해운대구 청사포로 12 | 통신판매번호 : 2020-부산해운대-3147
        유료직업소개사업등록번호 : (국내) 제2020-3230259-14-5-00018호 | 사업자등록번호 : 299-86-00021 | 02-539-7118
        © Wantedlab, Inc.</h6>
</div>
</body>

</html>